<mat-card class="rocket-card" fxLayout="row">

  <img spxImageLoader class="rocket-card__image" fxFlex="20" *ngIf="rocket.flickr_images as rocketImages" [src]="rocketImages[0]"
       [alt]="rocket.rocket_name">

  <div class="rocket-card__content">
    <mat-card-header>
      <mat-card-title class="rocket-card__title">
        {{rocket.rocket_name}}
      </mat-card-title>
      <mat-card-subtitle>
        <span matTooltip="Cost per launch">{{rocket.cost_per_launch | currency}}</span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="mat-body">{{rocket.description}}</p>
    </mat-card-content>
  </div>
</mat-card>
