<mat-card class="rocket-card" fxLayout="row">

  <div class="rocket-card__image" *ngIf="rocket.flickr_images as rocketImages"
       [spxBackgroundImage]="rocketImages[0]" fxFlex="25">
  </div>

  <div class="rocket-card__content">
    <mat-card-header>
      <mat-card-title class="rocket-card__title">
        {{rocket.rocket_name}}
      </mat-card-title>
      <mat-card-subtitle>
        <span matTooltip="Cost per launch">{{rocket.cost_per_launch | currency}}</span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="column" fxLayoutGap="15px">
      <p class="mat-body">{{rocket.description}}</p>

      <h3 class="mat-subheading-2">General info:</h3>

      <mat-chip-list>
        <mat-chip>Stages: {{rocket.stages}}</mat-chip>
        <mat-chip>Success rate: {{rocket.success_rate_pct}}%</mat-chip>
        <mat-chip>First flight: {{rocket.first_flight | date}}</mat-chip>
        <mat-chip>Height: {{rocket.height.meters}} m</mat-chip>
        <mat-chip>Diameter: {{rocket.diameter.meters}} m</mat-chip>
        <mat-chip>Mass: {{rocket.mass.kg}} kg</mat-chip>
      </mat-chip-list>

      <h3 class="mat-subheading-2">Payload weight:</h3>

      <mat-chip-list>
        <mat-chip *ngFor="let weightInfo of rocket.payload_weights">
          {{weightInfo.name}}: {{weightInfo.kg}} kg
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </div>

  <mat-icon class="rocket-card__is-active" [matTooltip]="rocket.active ? 'Rocket is active' : 'Rocket not active'"
            [ngClass]="{'mat-icon--warning': !rocket.active, 'mat-icon--success': rocket.active}">
    {{rocket.active ? 'check' : 'warning'}}
  </mat-icon>
</mat-card>
