@import "../../../../../styles/variables";

.rocket-card {
  position: relative;
  padding: 0;
  overflow: hidden;

  &__image {
    margin-bottom: 0;
  }

  &__content {
    padding: 16px;
  }

  &__title {
    color: $theme-accent;
  }

  &__is-active {
    position: absolute;
    top: 16px;
    right: 16px;

  }
}
