<mat-card *ngIf="launch" class="launch">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
    <mat-card-title>{{launch.mission_name}}</mat-card-title>
    <mat-card-subtitle>{{launch.launch_date_utc | date}}</mat-card-subtitle>
    <mat-icon [matTooltip]="launch.launch_success ? 'Launch success' : 'Launch failure'"
              [ngClass]="{'mat-icon--warning': !launch.launch_success, 'mat-icon--success': launch.launch_success}">
      {{launch.launch_success ? 'check' : 'warning'}}
    </mat-icon>
  </mat-card-header>
  <img *ngIf="launch.links.mission_patch_small as missionPatchSmall" mat-card-image [src]="missionPatchSmall"
       [alt]="launch.mission_name">
  <mat-card-content>
    <p>{{launch.details}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
