<mat-card *ngIf="launch" class="launch">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
    <mat-card-title class="text-truncate" [title]="launch.mission_name">{{launch.mission_name}}</mat-card-title>
    <mat-card-subtitle>{{launch.launch_date_utc | date}}</mat-card-subtitle>
    <mat-icon [matTooltip]="launch.launch_success ? 'Launch success' : 'Launch failure'"
              [ngClass]="{'mat-icon--warning': !launch.launch_success, 'mat-icon--success': launch.launch_success}">
      {{launch.launch_success ? 'check' : 'warning'}}
    </mat-icon>
  </mat-card-header>
  <div *ngIf="launch.links.mission_patch_small as missionPatchSmall" fxLayout="row" fxLayoutAlign="center">
    <img class="launch__mission-image" mat-card-image [src]="missionPatchSmall" [alt]="launch.mission_name">
  </div>
  <mat-card-content class="launch__content">
    <p class="mat-body text-truncate">{{launch.details || 'No details available'}}</p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center">
    <button [routerLink]="[launch.flight_number]" color="accent" mat-stroked-button>Details</button>
  </mat-card-actions>
</mat-card>
