<ng-container *ngIf="launch$ | async as launch">
  <div fxLayout="column" fxLayoutGap="15px">
    <mat-card class="example-card">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="84">
          <mat-card-header>
            <mat-card-title>{{launch.mission_name}}</mat-card-title>
            <mat-card-subtitle>{{launch.launch_date_utc | date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="mat-body">{{launch.details}}</p>
          </mat-card-content>
        </div>
        <div fxFlex="15">
          <img spxImageLoader class="img-responsive" [src]="launch.links.mission_patch_small"
               [alt]="launch.mission_name">
        </div>
      </div>
    </mat-card>

    <mat-card class="launch-gallery" *ngIf="launch.links.flickr_images as flickrImages">
      <mat-card-title>Gallery</mat-card-title>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <img spxImageLoader *ngFor="let image of flickrImages" class="img-responsive launch-gallery__image" [src]="image" alt="image">
      </div>
    </mat-card>
  </div>
</ng-container>

