$content-padding: 15px;
$header-height: 64px;

.sidenav-menu {
  height: 100%;

  &__content {
    margin-top: $header-height;
    padding: $content-padding;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - #{$header-height} - (#{$content-padding} * 2));
  }

  &__navigation-section {
    padding: $content-padding;
    width: 15vw;
  }
}
