<spx-header (toggleSidenavClicked)="toggleSidenav()"></spx-header>


<mat-sidenav-container class="sidenav-menu">
  <mat-sidenav [mode]="('lt-md' | media) ? 'over' :'side'" [opened]="['gt-sm'] | media"
               class="sidenav-menu__navigation-section mat-elevation-z2"
               [fixedInViewport]="true" [fixedTopGap]="('xs' | media) ? 54 : 64"
               [fixedBottomGap]="0">
    <spx-side-navigation-menu></spx-side-navigation-menu>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-menu__content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
