<mat-accordion>
  <mat-expansion-panel *ngFor="let menuItem of menuItems" expanded class="navigation-menu-panel mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>{{menuItem.title}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-action-list *ngIf="menuItem.subitems">
      <button *ngFor="let subitem of menuItem.subitems" [routerLink]="subitem.routerLink" mat-list-item>
        {{subitem.title}}
      </button>
    </mat-action-list>
  </mat-expansion-panel>
</mat-accordion>
