@import "../../../../../styles/variables";

.history-events-container {
  padding-left: 10px;
}

$offset-left: 0%;

.history-event {
  padding: 20px 10px;
  position: relative;

  &__title {
    color: $theme-accent;
  }

  &__icon {
    position: absolute;
    left: calc(#{$offset-left} - 23px / 2);
    z-index: 2;
  }

  &__line {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    border: 1px dashed $theme-primary;
    left: $offset-left;

    &--first {
      top: 50%;
    }

    &--last {
      bottom: 50%;
    }
  }

  &__info-section {
    margin-left: 10px;
  }

  &__date-section {
  }
}
