<mat-expansion-panel expanded class="list-filter-panel">
  <!-- Loader-->
  <mat-progress-bar *ngIf="loading" class="list-filter-panel__loader" color="accent"
                    mode="indeterminate"></mat-progress-bar>

  <mat-expansion-panel-header>
    <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <mat-icon>filter_list</mat-icon>
        <span>Filters</span>
      </div>

      <ng-container *ngIf="'gt-sm' | media; then paginator"></ng-container>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="start center"
       fxLayoutAlign.lt-md="start start">

    <mat-form-field class="list-filter-panel__field">
      <mat-label>Sort By</mat-label>
      <mat-select [formControl]="sortByFieldControl">
        <mat-option *ngFor="let item of sortByFieldList" [value]="item.value">
          {{item.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="list-filter-panel__field">
      <mat-label>Order By</mat-label>
      <mat-select [formControl]="orderByControl">
        <mat-option *ngFor="let item of orderByList" [value]="item.value">
          {{item.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-content></ng-content>

    <ng-container *ngIf="'lt-md' | media; then paginator"></ng-container>
  </div>
</mat-expansion-panel>

<ng-template #paginator>
  <mat-paginator spxStopPropagationOnClick class="list-filter-paginator" [length]="listLength"
                 [pageSize]="pageSize" [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                 (page)="pageChange.emit($event)"></mat-paginator>
</ng-template>
