@import "../../../styles/mixins/media";

.list-filter-panel {
  position: relative;

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__field {
    @include media-lt-md {
      width: 100%;
    }
  }
}
