<ng-container *ngIf="launch$ | async as launch">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Mission: {{launch.mission_name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{launch.launch_date_utc | date}}
      </mat-card-subtitle>
    </mat-card-header>

    <div mat-card-image class="next-launch-time">
      <div class="next-launch-time__overlay">
        <div class="timer">
          <h2 class="timer__title">Next Launch in:</h2>
          <p class="timer__label" [spxCountDownTimer]="launch.launch_date_utc"></p>
        </div>
      </div>
      <div class="next-launch-time__gradient"></div>
    </div>
    <mat-card-content *ngIf="launch.details as launchDetails">
      <p class="mat-body">{{launchDetails}}</p>
    </mat-card-content>

  </mat-card>
</ng-container>
