<spx-list-filter class="list-filter"
                 [sortByFieldList]="sortByFieldList$ | async"
                 [listLength]="launchesTotal$ | async"
                 [pageSize]="pageSize$ | async"
                 [pageIndex]="pageIndex$ | async"
                 [sortByField]="sortByField$ | async"
                 [orderBy]="orderBy$ | async"
                 [loading]="launchesLoading$ | async"
                 (pageChange)="onPageChange($event)"
                 (orderByChange)="onOrderByChange($event)"
                 (sortByFieldChange)="onSortByChange($event)">
  <mat-form-field>
    <mat-label>Launch Successful</mat-label>
    <mat-select [value]="isSuccessfulFilter$ | async" (selectionChange)="onLaunchIsSuccessfulChange($event)">
      <mat-option *ngFor="let item of isSuccessfullFilterValues" [value]="item.value">
        {{item.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</spx-list-filter>

<div *ngIf="(launches$ | async).length > 0" @listAnimation fxLayout="row wrap" fxLayoutAlign="start start">
  <spx-launch-card *ngFor="let launch of launches$ | async; trackBy: trackById"
                   [launch]="launch"
                   @listItemEnterAnimation class="launch-card" fxFlex="25"></spx-launch-card>
</div>
