<spx-list-filter class="list-filter" [listLength]="launchesTotal$ | async" [pageSize]="pageSize$ | async"
                 [pageIndex]="pageIndex$ | async" (pageChange)="onPageChange($event)"></spx-list-filter>

<div *ngIf="(launches$ | async).length > 0" @listAnimation fxLayout="row wrap" fxLayoutAlign="start start"
     fxLayoutGap="1%">
  <spx-launch-card *ngFor="let launch of launches$ | async; trackBy: trackById" [launch]="launch"
                   @listItemEnterAnimation class="launch-card" fxFlex="24"></spx-launch-card>
</div>
